<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Course Details</title>
    <link href="/CSS/kartotek_style.css" rel="stylesheet">
</head>
<body>
    <th:block th:include="_navigation"></th:block>

    <div class="container">
        <header>
            <h1>Course Details</h1>
        </header>

        <section>
            <div>
                <a type="button" href="/course/" class="btn btn-del btn:hover">Return</a>
                <a type="button" th:href="${'/course/edit?courseId=' + course.id}" class="btn btn-del btn:hover">Edit</a>
            </div>
            <br>
            <div class="container1">
                <p><strong>Danish Name:</strong></p>
                <p th:text="${course.nameDanish}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>English Name:</strong></p>
                <p th:text="${course.nameEnglish}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>Semester:</strong></p>
                <p th:text="${course.semester}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>Study Programme:</strong></p>
                <p th:text="${course.studyProgramme}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>Mandatory:</strong></p>
                <p th:text="${course.mandatory}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>ECTS Points:</strong></p>
                <p th:text="${course.ECTS}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>Language:</strong></p>
                <p th:text="${course.language}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>Minimum Students:</strong></p>
                <p th:text="${course.minimumStudents}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>Expected Students:</strong></p>
                <p th:text="${course.expectedStudents}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>Maximum Students:</strong></p>
                <p th:text="${course.maximumStudents}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>Prerequisites:</strong></p>
                <p th:text="${course.prerequisites}"></p>
            </div>
            <br>
            <div class="container1">
                 <p><strong>Learning Outcome:</strong></p>
                 <p th:text="${course.learningOutcome}"></p>
            </div>
            <br>
            <div class="container1">
                 <p><strong>Content:</strong></p>
                 <p th:text="${course.content}"></p>
            </div>
            <br>
            <div class="container1">
                  <p><strong>Learning Activites:</strong></p>
                  <p th:text="${course.learningActivities}"></p>
            </div>
            <br>
            <div class="container1">
                  <p><strong>Exam form:</strong></p>
                  <p th:text="${course.examForm}"></p>
            </div>
            <br>

            <div>
                <h1>Registered Students</h1>
                <p></p>
                <a type="button" href="/course/addStudent" class="btn btn-create btn:hover">Add</a>
                <p></p>
                <table class="sortable" id="tableStudents">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>User Type</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student: ${students}">
                        <td th:text="${student.name}"></td>
                        <td th:text="${student.user.username}"></td>
                        <td th:text="${student.user.password}"></td>
                        <td th:text="${student.user.userType.userType}"></td>

                        <td>
                            <a th:href="${'/student/details?id='+student.id}" type="button" class="btn btn-ed btn:hover">Details</a>
                            <a th:href="${'/course/removeStudent?courseId=' + course.id + '&studentId=' + student.id}" type="button" class="btn btn-del btn:hover">Remove</a>
                        </td>
                    </tr>
                    </tbody>
                </table><br>
            </div>

            <div>
                <h1>Registered Teachers</h1>
                <p></p>
                <a type="button" href="/course/addTeacher" class="btn btn-create btn:hover">Add</a>
                <p></p>
                <table class="sortable" id="tableTeachers">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>user Type</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="teacher: ${teachers}">
                        <td th:text="${teacher.name}"></td>
                        <td th:text="${teacher.user.username}"></td>
                        <td th:text="${teacher.user.password}"></td>
                        <td th:text="${teacher.user.userType.userType}"></td>
                        <td>
                            <a th:href="${'/teacher/details?id='+teacher.id}" type="button" class="btn btn-ed btn:hover">Details</a>
                            <a th:href="${'/course/removeTeacher?courseId=' + course.id + '&teacherId=' + teacher.id}" type="button" class="btn btn-del btn:hover">Remove</a>
                        </td>
                    </tr>
                    </tbody>
                </table><br>
            </div>
        </section>
        <br>
        <br>
        <footer>
            <th:block th:include="_footer"></th:block>
        </footer>
    </div>
</body>
</html>