<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Course Edit</title>
    <link href="/CSS/kartotek_style.css" rel="stylesheet">
</head>
<body>
<th:block th:include="_navigation"></th:block>

<div class="container">
    <header>
        <h1>Courses Edit</h1>
        <p>Edit an existing Course</p>
    </header>

    <a type="button" th:href="${'/course/details?id=' + course.id}" class="btn btn-del btn:hover">Return</a>

    <form method="Post" th:action="@{/course/edit}">
        <section>
            <input type="hidden" th:field="${course.localCourse.id}">
            <input type="hidden" th:field="${course.id}">
            <h2>Course details</h2>
            <p>Name Danish</p>
            <input type="text" th:field="${course.nameDanish}" value="${course.nameDanish"} required/>
            <p>Name English</p>
            <input type="text" th:field="${course.nameEnglish}" value="${course.nameEnglish"} required/>
            <p>Semester</p>
            <input type="number" th:field="${course.semester}" value="${course.semester"} required/>
            <p>Study Programme</p>
            <input type="text" th:field="${course.studyProgramme}" value="${course.studyProgramme"} required/>
            <p>Mandatory</p>
            <input type="text" th:field="${course.mandatory}" value="${course.mandatory"} required/>
            <p>ECTS</p>
            <input type="number" th:field="${course.ECTS}" value="${course.ECTS"} required/>
            <p>Language</p>
            <select th:field="${course.language}" value="${course.language"}>
                <option th:value="danish" th:text="danish"/>
                <option th:value="english" th:text="english"/>
            </select>
            <p>Studets Minimum</p>
            <input type="number" th:field="${course.localCourse.minimumStudents}" value="${course.localCourse.minimumStudents"} required/>
            <p>Students Expected</p>
            <input type="number" th:field="${course.localCourse.expectedStudents}" value="${course.localCourse.expectedStudents"} required/>
            <p>Students Maximum</p>
            <input type="number" th:field="${course.localCourse.maximumStudents}" value="${course.localCourse.maximumStudents"} required/>
            <p>Prerequisites</p>
            <input type="text" th:field="${course.localCourse.prerequisites}" value="${course.localCourse.prerequisites"} required/>
            <p>Learning Outcome</p>
            <input type="text" th:field="${course.localCourse.learningOutcome}" value="${course.localCourse.learningOutcome"} required/>
            <p>Content</p>
            <input type="text" th:field="${course.localCourse.content}" value="${course.localCourse.content"} required/>
            <p>Learning Activites</p>
            <input type="text" th:field="${course.localCourse.learningActivities}" value="${course.localCourse.learningActivities"} required/>
            <p>Exam form</p>
            <input type="text" th:field="${course.localCourse.examForm}" value="${course.localCourse.examForm"} required/>
            <p>Description</p>
            <input type="text" th:field="${course.description}" value="${course.description"} required/>
        </section>
        <br><br>
        <a th:href="${'/course/details?id=' + course.id}" type="button" class="btn btn-del btn:hover">Cancel</a>
        <input type="submit" value="Submit" class="btn btn-create btn:hover"/>
    </form>

    <th:block th:include="_footer"></th:block>

</div>
</body>
</html>